.btn {
  border: 0;
  border-radius: 999px;
  padding: 10px 18px;
  background: var(--color-primary);
  color: var(--color-text);
  font-weight: 700;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  text-transform: uppercase;
}

.btn:hover {
  background-color: var(--color-secondary);
  color: white;
  transform: scale(1.05);
}

.btn:disabled {
  background-color: #ccc;
  cursor: not-allowed;
  transform: scale(1);
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 24px;
}